@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

body {
    font-family: 'Rubik', sans-serif;;
}
nav {
    position: fixed;
    padding: 1rem;
    width: 100%;
    height: 5rem;
    top: 0px;
    left: 0px;
    align-content: center;
    background-color: var(--nav-bg-color);
    border-bottom: 3px solid black;
}
nav img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-select: none;
}
nav h1 {
    position: absolute;
    display: inline-block;
    top: 20%;
}
nav div.links {
    display: inline;
    margin-left: 6rem;
}
nav div.links a {
    display: inline-block;
    color: #0000EE;
    text-decoration: none;
    width: 6rem;
    padding: 0.25rem;
    text-align: center;
    transition-duration: 0.25s;
}
nav div.links a:hover {
    transform: skew(-10deg);
    border-bottom: 3px solid #0000EE;
    background-color: rgba(0, 0, 238,0.25);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}