@font-face {
    font-family: PIXLUS_black-white;
    src: url("../../../code/assets/UI/images/fonts/Pixlus_black_white-Regular.ttf");
	text-transform: uppercase;
}

.loader {
	/*
	* Everything inside here is for the loader
	* (not including the animations)
	* 
	*/

	font-family: PIXLUS_black-white;

	&.loader {
		-webkit-user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;

		--loader-animation-length: 1s;
		display: flex;
		position: fixed;
		top: 0px;
		left: 0px;
		background-image: url("../code/assets/blocks/images/Tiles/Background/Center/center.png");
		width: 100vw;
		height: 100vh;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		opacity: 1;

		&>.dot {
			display: block;
			position: relative;
			background-image: url("../code/assets/player/images/walk.gif");
			background-repeat: no-repeat;
			image-rendering: pixelated;
			background-size: contain;
			background-position: center center;
			margin-bottom: 5vh;
			width: 10%;
			aspect-ratio: 1 / 1;
		}
		&[active]>.dot {
			animation: loader-dot-in var(--loader-animation-length);
		}
		&:not([active]) {
			animation: loader-allout var(--loader-animation-length);
		}
		&:not([active])>.dot {
			animation: loader-dot-out var(--loader-animation-length) forwards;
		}

		&>.line {
			display: block;
			position: relative;
			background-image:
				linear-gradient(to bottom, transparent 20%, #7a8ba1),
				url(../code/assets/blocks/images/Grass/Top/center.png);
			background-size: contain;
			image-rendering: pixelated;
			width: 10vw;
			height: 10vw;
			aspect-ratio: 1 / 1;

			&::before {
				content: "";
				display: block;
				position: relative;
				left: -100%;
				background-image:
				linear-gradient(to bottom, transparent 20%, rgb(122, 139, 161)),
				url(../code/assets/blocks/images/Grass/Top/left.png);
				background-size: contain;
				image-rendering: pixelated;
				width: 100%;
				aspect-ratio: 1 / 1;
			}

			&::after {
				content: "";
				display: block;
				position: relative;
				top: -100%;
				right: -100%;
				background-image:
				linear-gradient(to bottom, transparent 20%, rgb(122, 139, 161)),
				url(../code/assets/blocks/images/Grass/Top/right.png);
				background-size: contain;
				image-rendering: pixelated;
				width: 100%;
				aspect-ratio: 1 / 1;
			}
		}
		&>.message {
			position: relative;
			top: -10vh;
			font-size: 2.99vw;
			text-align: center;
		}
	}
}

@keyframes loader-line {
	from, to {
		width: 10%;
	}
	50% {
		width: 15%;
	}
}
@keyframes loader-dot-in {
	from {
		transform: translateX(-20vw);
		opacity: 0;
	}
}
@keyframes loader-dot-out {
	to {
		transform: translateX(20vw);
		opacity: 0;
	}
}
@keyframes loader-allout {
	from, 75% {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}